<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassResetServlet</servlet-name>
    <servlet-class>servlet.PassResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassResetServlet</servlet-name>
    <url-pattern>/PassResetServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomQuoteServlet</display-name>
    <servlet-name>RandomQuoteServlet</servlet-name>
    <servlet-class>servlet.RandomQuoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomQuoteServlet</servlet-name>
    <url-pattern>/RandomQuoteServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DayServlet</servlet-name>
    <servlet-class>servlet.DayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DayServlet</servlet-name>
    <url-pattern>/DayServlet.java</url-pattern>
  </servlet-mapping>
  </web-app>
